@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 26, 26, 26;
    --background-gradient: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-gradient);
    min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
